:root {
    --font-family: 'Manrope Variable', sans-serif;

    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 1rem;
}

body {
    background: var(--color-base-900);
    color: var(--color-base-100);
}

@import "buttons";
@import "inputs";