:root {
    --font-family: 'Manrope Variable', sans-serif;

    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
}

body {
    background: var(--color-base-950);
    color: var(--color-base-200);
}