:root {
    --color-base-50: #f6f6f6;
    --color-base-100: #e7e7e7;
    --color-base-200: #d1d1d1;
    --color-base-300: #b0b0b0;
    --color-base-400: #888888;
    --color-base-500: #6d6d6d;
    --color-base-600: #5d5d5d;
    --color-base-700: #4f4f4f;
    --color-base-800: #343434;
    --color-base-900: #232323;
    --color-base-950: #111111;

    --color-primary-50: 249, 245, 255;
    --color-primary-100: 240, 232, 255;
    --color-primary-200: 228, 213, 255;
    --color-primary-300: 208, 180, 254;
    --color-primary-400: 179, 132, 252;
    --color-primary-500: 162, 104, 248;
    --color-primary-600: 127, 51, 234;
    --color-primary-700: 107, 34, 206;
    --color-primary-800: 92, 33, 168;
    --color-primary-900: 76, 28, 135;
    --color-primary-950: 49, 7, 100;

    --color-danger-50: 254, 242, 245;
    --color-danger-100: 254, 229, 234;
    --color-danger-200: 252, 207, 219;
    --color-danger-300: 249, 168, 188;
    --color-danger-400: 244, 120, 154;
    --color-danger-500: 233, 53, 107;
    --color-danger-600: 215, 39, 100;
    --color-danger-700: 182, 26, 84;
    --color-danger-800: 152, 25, 76;
    --color-danger-900: 130, 25, 71;
    --color-danger-950: 72, 9, 35;
}