:root {
    // Base
    --color-base-50: #f6f6f6;
    --color-base-100: #e7e7e7;
    --color-base-200: #d1d1d1;
    --color-base-300: #b0b0b0;
    --color-base-400: #888888;
    --color-base-500: #6d6d6d;
    --color-base-600: #5d5d5d;
    --color-base-700: #4f4f4f;
    --color-base-800: #343434;
    --color-base-900: #232323;
    --color-base-950: #111111;

    --color-purple-50: #f9f5ff;
    --color-purple-100: #f0e8ff;
    --color-purple-200: #e4d5ff;
    --color-purple-300: #d0b4fe;
    --color-purple-400: #b384fc;
    --color-purple-500: #a268f8;
    --color-purple-600: #7f33ea;
    --color-purple-700: #6b22ce;
    --color-purple-800: #5c21a8;
    --color-purple-900: #4c1c87;
    --color-purple-950: #310764;
}